@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";


.catalog-sorting-item {
  display: flex;
  gap: 8px;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 14px;
  cursor: pointer;

  span {
    width: 120px;
  }

  svg {
    width: 14px;
  }

  svg:first-child {
    display: block;
  }

  svg:last-child {
    display: none;
  }

  &.active {
    color: $dark-blue-color;

    svg {
      display: none;
    }

    svg:last-child {
      display: block;
    }
  }
}
