@import "variables";
@import "mixins";

html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

nav {
  margin-right: 157px;

  .menu {
    display: flex;
    gap: 30px;


    .menu-item {
      list-style: none;

      a {
        text-decoration: none;
        color: #071739;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-size: 16px;
        font-weight: 500;

        &:focus {
          color: $light-blue-color;
        }
      }
    }
  }
}


.button {
  padding: 10px 20px;
  background-color: $light-blue-color;
  color: $white-color;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: 153px;
  box-sizing: border-box;
}

.input {
  width: 422px;
  height: 53px;
  padding: 20px 64px 20px 20px;
  border-radius: 3px;
  border: 1.5px solid $light-blue-color;
  background: $white-color;
  box-sizing: border-box;
  margin-bottom: 5px;


  &::placeholder {
    color: $gray-color;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

[type="checkbox"] {
  margin-top: 5px;
  margin-bottom: 40px;
}


.popup {
  width: 727px;
  border-radius: 5px;
  border: 1.5px solid $light-blue-color;
  background: $white-color;


  .popup-container {
    box-sizing: border-box;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 84px;
    position: relative;

    .popup-close {
      position: absolute;
      top: 32px;
      right: 31px;
      cursor: pointer;
    }

    .popup-title {
      @include head-lora-38;
      margin-bottom: 20px;
    }

    .popup-info {
      color: $dark-blue-color;
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 40px;
    }

    .auth-form {

      input {
        color: $light-blue-color;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
      }

      .invalid-feedback {
        margin-left: 155px;
        text-align: left;
        color: red;
      }

      .button {
        padding: 15px 40px;
        margin-top: 15px;
        box-sizing: border-box;
        width: 422px;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }
}

.detail-article-text {
  h1, h3 {
    font-family:Montserrat, sans-serif !important;
    font-size: 20px;
    font-weight: 500;
    color: $light-blue-color !important;
  }

  b {
    color: $dark-blue-color;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
  }

}

